one-datafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "one-datafactory"
		},
		"AzureBlobStorageML_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageML'"
		},
		"AzureML1_apiKey": {
			"type": "secureString",
			"metadata": "Secure string for 'apiKey' of 'AzureML1'"
		},
		"SQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLDB'"
		},
		"ADLS_Gen1_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://onedatalakeadls.azuredatalakestore.net/webhdfs/v1"
		},
		"ADLS_Gen1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8a7bb8e8-a0ba-4b1a-95cb-5169eb7ae0f0"
		},
		"ADLS_Gen1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "11ebd399-8f6c-46af-b26f-71fc4572151b"
		},
		"ADLS_Gen1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "ONE-Azure"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebHook_Compliance_Tabular_Model",
						"type": "WebHook",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"url": "https://s2events.azure-automation.net/webhooks?token=1RQYI4hsyYOS2wWgyjGfkCpJRNK1btdof0NIhFVrPsw%3d",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"AnalysisServicesDatabaseName": "ONE_MODEL_TW_Complaince",
								"AnalysisServicesServer": "asazure://westeurope.asazure.windows.net/oneanalysis",
								"DatabaseRefreshType": "Full"
							},
							"timeout": "00:10:00"
						}
					},
					{
						"name": "WebHook_Expense_Tabular_Model",
						"type": "WebHook",
						"dependsOn": [
							{
								"activity": "WebHook_Compliance_Tabular_Model",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"url": "https://s2events.azure-automation.net/webhooks?token=1RQYI4hsyYOS2wWgyjGfkCpJRNK1btdof0NIhFVrPsw%3d",
							"method": "POST",
							"headers": {},
							"body": {
								"AnalysisServicesDatabaseName": "ONE_MODEL_TW_Expense",
								"AnalysisServicesServer": "asazure://westeurope.asazure.windows.net/oneanalysis",
								"DatabaseRefreshType": "Full"
							},
							"timeout": "00:10:00"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Gen1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('ADLS_Gen1_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('ADLS_Gen1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('ADLS_Gen1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ADLS_Gen1_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageML')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageML_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureML1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureML",
				"typeProperties": {
					"mlEndpoint": "https://ussouthcentral.services.azureml.net/workspaces/3570563b92f2409081ddab9fc33e3dbc/services/9c75d35f03294ddaa7373e0d60ec30f8/jobs?api-version=2.0",
					"apiKey": {
						"type": "SecureString",
						"value": "[parameters('AzureML1_apiKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQLDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-5')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ML Batch Execution1",
						"type": "AzureMLBatchExecution",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"webServiceInputs": {
								"input1": {
									"filePath": "onefilesystemgen2/1000_Companies.csv",
									"linkedServiceName": {
										"referenceName": "AzureBlobStorageML",
										"type": "LinkedServiceReference"
									}
								}
							},
							"webServiceOutputs": {
								"output1": {
									"filePath": "onefilesystemgen2/Demo.csv",
									"linkedServiceName": {
										"referenceName": "AzureBlobStorageML",
										"type": "LinkedServiceReference"
									}
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureML1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureML1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageML')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_ADLS_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Gen1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "ADLS_ACQ_HANA_TE"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_Gen1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_ADLS_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Gen1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": {
							"value": "@{item().FILE_NAME}",
							"type": "Expression"
						},
						"folderPath": "ADLS_ACQ_INPUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_Gen1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "ACQ",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_CODE_EXPENSES_ASQL_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_code",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "is_hidden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "autoadd",
						"type": "int",
						"precision": 10
					},
					{
						"name": "reserved1",
						"type": "nvarchar"
					},
					{
						"name": "loggable",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "pname",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_CODES_EXPENSES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_CODE_EXPENSE_SOURCES_ASQL_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_code",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "is_hidden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "autoadd",
						"type": "int",
						"precision": 10
					},
					{
						"name": "reserved1",
						"type": "nvarchar"
					},
					{
						"name": "loggable",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "pname",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_CODES_EXPENSE_SOURCES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_CURRENCY_ASQL_SCR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_code",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "is_hidden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "autoadd",
						"type": "int",
						"precision": 10
					},
					{
						"name": "reserved1",
						"type": "nvarchar"
					},
					{
						"name": "loggable",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "pname",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_CODES_CURRENCIES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_EXPENSE_ASQL_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_expense_rec",
						"type": "nvarchar"
					},
					{
						"name": "id_user",
						"type": "nvarchar"
					},
					{
						"name": "record_date",
						"type": "nvarchar"
					},
					{
						"name": "id_project",
						"type": "nvarchar"
					},
					{
						"name": "id_code_expense",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "comment",
						"type": "nvarchar"
					},
					{
						"name": "commit_state",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_code_currency",
						"type": "nvarchar"
					},
					{
						"name": "id_code_expense_source",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "read_only_comment",
						"type": "nvarchar"
					},
					{
						"name": "flags",
						"type": "nvarchar"
					},
					{
						"name": "id_picture",
						"type": "nvarchar"
					},
					{
						"name": "reserved1",
						"type": "nvarchar"
					},
					{
						"name": "reserved2",
						"type": "nvarchar"
					},
					{
						"name": "creator",
						"type": "nvarchar"
					},
					{
						"name": "create_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "modifier",
						"type": "nvarchar"
					},
					{
						"name": "modify_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "mileage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_assignment",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_EXPENSE_RECS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_PAY_TYPES_ASQL_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_code",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "is_hidden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "autoadd",
						"type": "int",
						"precision": 10
					},
					{
						"name": "reserved1",
						"type": "nvarchar"
					},
					{
						"name": "loggable",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "pname",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_CODES_PAY_TYPES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_PROJECT_ASQL_SCR_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_project",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "id_parent",
						"type": "nvarchar"
					},
					{
						"name": "hours_estimate",
						"type": "int",
						"precision": 10
					},
					{
						"name": "percent_complete",
						"type": "int",
						"precision": 10
					},
					{
						"name": "creator",
						"type": "nvarchar"
					},
					{
						"name": "loggable",
						"type": "nvarchar"
					},
					{
						"name": "pname",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "project_type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "wbs",
						"type": "nvarchar"
					},
					{
						"name": "id_owner",
						"type": "nvarchar"
					},
					{
						"name": "id_backup",
						"type": "nvarchar"
					},
					{
						"name": "rm_type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "state",
						"type": "int",
						"precision": 10
					},
					{
						"name": "work_variance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "start_variance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "end_variance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "duration_variance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "scheduled_work",
						"type": "int",
						"precision": 10
					},
					{
						"name": "scheduled_start",
						"type": "int",
						"precision": 10
					},
					{
						"name": "scheduled_end",
						"type": "int",
						"precision": 10
					},
					{
						"name": "scheduled_duration",
						"type": "int",
						"precision": 10
					},
					{
						"name": "projected_cost",
						"type": "int",
						"precision": 10
					},
					{
						"name": "projected_return",
						"type": "int",
						"precision": 10
					},
					{
						"name": "projected_profit",
						"type": "int",
						"precision": 10
					},
					{
						"name": "projected_roi",
						"type": "int",
						"precision": 10
					},
					{
						"name": "awaiting_export",
						"type": "int",
						"precision": 10
					},
					{
						"name": "is_hidden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "allow_time",
						"type": "int",
						"precision": 10
					},
					{
						"name": "allow_expense",
						"type": "int",
						"precision": 10
					},
					{
						"name": "allow_custom",
						"type": "int",
						"precision": 10
					},
					{
						"name": "allow_leave",
						"type": "int",
						"precision": 10
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_PROJECTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_PROJECT_ATTR_ASQL_SCR_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_attribute",
						"type": "nvarchar"
					},
					{
						"name": "id_project",
						"type": "nvarchar"
					},
					{
						"name": "id_attr_type",
						"type": "nvarchar"
					},
					{
						"name": "string_value",
						"type": "nvarchar"
					},
					{
						"name": "numeric_value",
						"type": "int",
						"precision": 10
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_PROJECTS_ATTRIBS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_SHEET_NOTES_ASQL_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_usersheetnote",
						"type": "nvarchar"
					},
					{
						"name": "id_usersheet",
						"type": "nvarchar"
					},
					{
						"name": "note_text",
						"type": "nvarchar"
					},
					{
						"name": "note_creator",
						"type": "nvarchar"
					},
					{
						"name": "create_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "extra_string_1",
						"type": "nvarchar"
					},
					{
						"name": "extra_string_2",
						"type": "nvarchar"
					},
					{
						"name": "extra_string_3",
						"type": "nvarchar"
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_USER_SHEET_NOTES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_SQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Address"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_TIME_REC_ASQL_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_time_rec",
						"type": "nvarchar"
					},
					{
						"name": "id_user",
						"type": "nvarchar"
					},
					{
						"name": "record_date",
						"type": "nvarchar"
					},
					{
						"name": "id_code_task",
						"type": "nvarchar"
					},
					{
						"name": "id_code_pay_type",
						"type": "nvarchar"
					},
					{
						"name": "id_project",
						"type": "nvarchar"
					},
					{
						"name": "time_amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "comment",
						"type": "nvarchar"
					},
					{
						"name": "commit_state",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "id_code_bill_type",
						"type": "nvarchar"
					},
					{
						"name": "id_group",
						"type": "nvarchar"
					},
					{
						"name": "creator",
						"type": "nvarchar"
					},
					{
						"name": "create_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "modifier",
						"type": "nvarchar"
					},
					{
						"name": "modify_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_assignment",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ACQ",
					"table": "TE_TIME_RECS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLDB')]"
			]
		}
	]
}