one-datafactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "one-datafactory"
		},
		"SapHanaOne_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SapHanaOne'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_SHEET_STATE_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sheet_state",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sheet_description",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_SHEET_STATE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_TIMEDIM_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATETIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_SQL",
						"type": "date"
					},
					{
						"name": "DATETIME_SAP",
						"type": "varchar"
					},
					{
						"name": "DATE_SAP",
						"type": "varchar"
					},
					{
						"name": "YEAR",
						"type": "varchar"
					},
					{
						"name": "QUARTER",
						"type": "varchar"
					},
					{
						"name": "MONTH",
						"type": "varchar"
					},
					{
						"name": "WEEK",
						"type": "varchar"
					},
					{
						"name": "WEEK_YEAR",
						"type": "varchar"
					},
					{
						"name": "DAY_OF_WEEK",
						"type": "varchar"
					},
					{
						"name": "DAY",
						"type": "varchar"
					},
					{
						"name": "HOUR",
						"type": "varchar"
					},
					{
						"name": "MINUTE",
						"type": "varchar"
					},
					{
						"name": "SECOND",
						"type": "varchar"
					},
					{
						"name": "CALQUARTER",
						"type": "varchar"
					},
					{
						"name": "CALMONTH",
						"type": "varchar"
					},
					{
						"name": "CALWEEK",
						"type": "varchar"
					},
					{
						"name": "YEAR_INT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "QUARTER_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "MONTH_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "WEEK_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "WEEK_YEAR_INT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DAY_OF_WEEK_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "DAY_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "HOUR_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "MINUTE_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "SECOND_INT",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "MONTH_LAST_DAY",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "TZNTSTMPS",
						"type": "decimal",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "TZNTSTMPL",
						"type": "decimal",
						"precision": 21,
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_TIME_DIM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_TIME_REC_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_time_rec",
						"type": "nvarchar"
					},
					{
						"name": "id_user",
						"type": "nvarchar"
					},
					{
						"name": "record_date",
						"type": "nvarchar"
					},
					{
						"name": "id_code_task",
						"type": "nvarchar"
					},
					{
						"name": "id_code_pay_type",
						"type": "nvarchar"
					},
					{
						"name": "id_project",
						"type": "nvarchar"
					},
					{
						"name": "time_amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "comment",
						"type": "nvarchar"
					},
					{
						"name": "commit_state",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_domain",
						"type": "nvarchar"
					},
					{
						"name": "id_code_bill_type",
						"type": "nvarchar"
					},
					{
						"name": "id_group",
						"type": "nvarchar"
					},
					{
						"name": "creator",
						"type": "nvarchar"
					},
					{
						"name": "create_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "modifier",
						"type": "nvarchar"
					},
					{
						"name": "modify_timestamp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_assignment",
						"type": "nvarchar"
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_TIME_RECS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_USERS_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_user",
						"type": "nvarchar"
					},
					{
						"name": "user_start_date",
						"type": "date"
					},
					{
						"name": "user_end_date",
						"type": "date"
					},
					{
						"name": "users_emp_num",
						"type": "nvarchar"
					},
					{
						"name": "users_rate_period_type",
						"type": "nvarchar"
					},
					{
						"name": "user_emp_type",
						"type": "nvarchar"
					},
					{
						"name": "user_email",
						"type": "nvarchar"
					},
					{
						"name": "users_pay_rate_type",
						"type": "nvarchar"
					},
					{
						"name": "user_phone",
						"type": "nvarchar"
					},
					{
						"name": "user_dept",
						"type": "nvarchar"
					},
					{
						"name": "fullname",
						"type": "nvarchar"
					},
					{
						"name": "expense_gui",
						"type": "nvarchar"
					},
					{
						"name": "time_gui",
						"type": "nvarchar"
					},
					{
						"name": "travel_gui",
						"type": "nvarchar"
					},
					{
						"name": "user_login",
						"type": "nvarchar"
					},
					{
						"name": "is_hidden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "load_time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "logitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_USERS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_USER_EXPENSE_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_USER_EXPENSE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_USER_TIME_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_USER_TIME"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ONE_VENDOR_ASQL_TRG_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_vendor",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name_vendor",
						"type": "nvarchar"
					},
					{
						"name": "type_vendor",
						"type": "nvarchar"
					},
					{
						"name": "street",
						"type": "nvarchar"
					},
					{
						"name": "street_number",
						"type": "nvarchar"
					},
					{
						"name": "postalcode",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "country_code",
						"type": "nvarchar"
					},
					{
						"name": "telephone",
						"type": "nvarchar"
					},
					{
						"name": "latitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "longitude",
						"type": "decimal",
						"precision": 10,
						"scale": 5
					},
					{
						"name": "location",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_VENDOR_LIST"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Gen1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "1000_Companies.csv",
						"folderPath": "MachineLearning"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "R&D Spend",
						"type": "String"
					},
					{
						"name": "Administration",
						"type": "String"
					},
					{
						"name": "Marketing Spend",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Profit",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Gen1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "1000_Companies_output.csv",
						"folderPath": "MachineLearning"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "R&D Spend",
						"type": "String"
					},
					{
						"name": "Administration",
						"type": "String"
					},
					{
						"name": "Marketing Spend",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Profit",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_291')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATETIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_SQL",
						"type": "date",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DATETIME_SAP",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DATE_SAP",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YEAR",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "QUARTER",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MONTH",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WEEK",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WEEK_YEAR",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DAY_OF_WEEK",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DAY",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "HOUR",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MINUTE",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SECOND",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CALQUARTER",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CALMONTH",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CALWEEK",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YEAR_INT",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "QUARTER_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "MONTH_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "WEEK_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "WEEK_YEAR_INT",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DAY_OF_WEEK_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "DAY_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "HOUR_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "MINUTE_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "SECOND_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "MONTH_LAST_DAY",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "TZNTSTMPS",
						"type": "decimal",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "TZNTSTMPL",
						"type": "decimal",
						"precision": 21,
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_TIME_DIM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_rwb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "User_Logon_Name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "First_Name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Last_Name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Type",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Status",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "City",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Company",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Country",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Department",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Job_Title",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Display_Name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Email",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Mobile",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Employee_Number",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Office",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "State",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Street",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Street_Number",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Postal_Code",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Personal_Country",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Personal_City",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Personal_Street",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Personal_Street_Number",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Personal_Latitude",
						"type": "float",
						"precision": 53,
						"scale": 0
					},
					{
						"name": "Personal_Longitude",
						"type": "float",
						"precision": 53,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_EMPLOYEE_DETAIL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_v6d')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATETIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_SQL",
						"type": "date",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DATETIME_SAP",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DATE_SAP",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YEAR",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "QUARTER",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MONTH",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WEEK",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WEEK_YEAR",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DAY_OF_WEEK",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DAY",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "HOUR",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "MINUTE",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SECOND",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CALQUARTER",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CALMONTH",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CALWEEK",
						"type": "varchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YEAR_INT",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "QUARTER_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "MONTH_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "WEEK_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "WEEK_YEAR_INT",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DAY_OF_WEEK_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "DAY_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "HOUR_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "MINUTE_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "SECOND_INT",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "MONTH_LAST_DAY",
						"type": "tinyint",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "TZNTSTMPS",
						"type": "decimal",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "TZNTSTMPL",
						"type": "decimal",
						"precision": 21,
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "ONE",
					"table": "TE_TIME_DIM"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileNameList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Gen1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": "Test_FileList.csv",
						"folderPath": "ADLS_ACQ_INPUT"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Table Name;File Name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRCDemo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_Gen1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "ADLS_ACQ_INPUT"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TableName;FileName",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRGDemo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "ACQ",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapHanaOne')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapHana",
				"typeProperties": {
					"connectionString": "[parameters('SapHanaOne_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-5",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ACQ_ADLS_ASQL_ONE_TIMESHEET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "FileNameList",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureDataLakeStoreReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRCDemo",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "TRGDemo",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{item().TableName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FileNameList')]",
				"[concat(variables('factoryId'), '/datasets/SRCDemo')]",
				"[concat(variables('factoryId'), '/datasets/TRGDemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ACQ_ADLS_SQL_TE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureDataLakeStoreReadSettings",
									"recursive": false,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ACQ_ADLS_SRC_TE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ACQ_SQL_TRG_TE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ACQ_ADLS_SRC_TE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureDataLakeStoreReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Variable_Array",
										"value": "item.name()"
									}
								}
							]
						}
					}
				],
				"variables": {
					"Variable_Array": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ACQ_HANA_SRC_TE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapHanaOne",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SapHanaTable",
				"schema": [],
				"typeProperties": {
					"schema": "SYS",
					"table": "select \"SCHEMA_NAME\",\"TABLE_NAME\" from public.tables where \"SCHEMA_NAME\" ='ACQ_TE' and \"TABLE_TYPE\" = 'COLUMN'"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SapHanaOne')]"
			]
		}
	]
}