one-datafactory/PartialArmTemplates/ArmTemplate_10_10_2019_11_55_36.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "one-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_ONE_TW_SQL_TRANSFORM_LOAD_DATASET1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_TRM_ASQL1_TE",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_TRM_ASQL_TE",
								"type": "DataFlowReference",
								"datasetParameters": {
									"CodeExpense": {
										"cw_table": "NULL"
									},
									"CodeExpenseSourceTRM": {
										"cw_table": "NULL"
									}
								}
							}
						}
					},
					{
						"name": "Update_Vendor_ID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DF_TRM_ASQL1_TE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ONE].[TE_UPDATE_EXPENSE_LODGE_VENDORID]"
						},
						"linkedServiceName": {
							"referenceName": "SQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ONE_TW_SQL_TRANSFORM_LOAD_DATASET2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_ONE_TW_SQL_TRANSFORM_DATASET2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ProjectAttrSRC",
								"type": "DataFlowReference"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ONE_TW_TRANSFORMATION_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataSet1_Transform",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ONE_TW_SQL_TRANSFORM_LOAD_DATASET1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "DataSet2_Transform",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DataSet1_Transform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ONE_TW_SQL_TRANSFORM_LOAD_DATASET2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ONE_TW_SQL_TRANSFORM_LOAD_DATASET1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_ONE_TW_SQL_TRANSFORM_LOAD_DATASET2')]"
			]
		}
	]
}